extends layout

block content

  h1= 'QuoteSite'
  p Welcome to QuoteSite

  h3 Click button, get Quote
  #container
    <button onClick='getIt()'>Get a random quote</button>
    <p id='quote'>Quote will appear here</p>

  script.
    function getIt() 
      {
        document.getElementById('quote').innerHTML='random quote goes here'
      };

